/* HOME */

.home {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

/* Cards */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main h1 {
    font-size: 2rem;
    margin: 28px 0;
}


@media screen and (min-width: 1024px) {
   
    .main h1 {
        font-size: 2.5rem;
    }
}

